.alumin{
    text-align: center;
    font-size: 24px;
    color: rgb(109, 63, 224);
    font-weight: bold;
}
.place{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
.men{
    text-align: center;
    padding-top: 10px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0  0 30px 24px rgba(124, 150, 227, 0.2);
    transition: 0.2s ease;
    cursor: pointer;
}
.men:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    transform: translateY(-30%);

}