
.header{
    background-color: rgb(60, 8, 189);
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
}
.header ul{
    display: flex;

}
.header ul li{
    padding: 10px;
    list-style: none;
    padding-left: 30px;
}
.header ul li:hover{
    background-color: darkblue;
    cursor: pointer;
}
.logo{
    text-align: center;
}
/* .whats{
    height: 50px;
    width: 50px;
    position: sticky;
    position: fixed;
    z-index: -1;
    position: absolute;
    bottom: 200px;
    right: 10px;
} */