.footer{
    background-color: black;
}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.foo{
    padding-top: 10px;
    cursor: pointer;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
.copy{
    padding-left: 100px;
    font-size: 10px;
}
.rama{
    color: red;
}
.address{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #d6d2d2;
}
/* .copy1{
    display: flex;
    justify-content: space-around;
} */